<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="kanjis[0]">
        <span *ngFor="let kanji of kanjis">
          {{kanji.hanzi}}
        </span>
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="kanjis[0]">

  <ion-card *ngFor="let kanji of kanjis">
    <ion-card-content>
      <div>
        <span class="kanji">
          {{kanji.hanzi}}
          {{kanji.simplified}}
        </span>
        <span>
          {{kanji.meaning}}
        </span>
      </div>

      <div style="background: #e8f0ff;" *ngIf="kanji.mnemonics">
        <ion-item lines="none" color="transparent">
          <ion-icon name="flask" size="small" color="primary"></ion-icon>
          <ion-label>Mnemonics</ion-label>
        </ion-item>
        <p [innerHTML]="kanji.mnemonics | sanitizeHtml"></p>
      </div>

      <div style="background: #e1fdff;" *ngIf="kanji.simplified">
        <ion-item lines="none" color="transparent">
          <ion-icon name="cut" size="small" color="secondary"></ion-icon>
          <ion-label>Simplified</ion-label>
        </ion-item>
        <p>{{kanji.simplified}}</p>
      </div>

      <div style="background: #eee8ff;" *ngIf="kanji.alike">
        <ion-item lines="none" color="transparent">
          <ion-icon name="swap" size="small" color="tertiary"></ion-icon>
          <ion-label>Alike</ion-label>
        </ion-item>
        <p>{{kanji.alike}}</p>
      </div>

      <div style="background: #eafff3;" *ngIf="kanji.reference">
        <ion-item lines="none" color="transparent">
          <ion-icon name="book" size="small" color="success"></ion-icon>
          <ion-label>Reference</ion-label>
        </ion-item>
        <p>{{kanji.reference}}</p>
      </div>

    </ion-card-content>
  </ion-card>

</ion-content>

<ion-content *ngIf="!kanjis['init'] && !kanjis[0]">
  <ion-card color="warning">
    <ion-card-content>
      This Kanji has no mnemonic.
    </ion-card-content>
  </ion-card>
</ion-content>