<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="kanjis[0] !== undefined">
        <span *ngFor="let kanji of kanjis" class="kanji">
          {{kanji.hanzi}}
        </span>
      </span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!noresult">

  <ion-card *ngFor="let kanji of kanjis">
    <ion-card-content>
      <div>
        <span class="kanji">
          {{kanji.hanzi}}
          {{kanji.simplified}}
        </span>
        <span [innerHTML]="kanji.meaning | sanitizeHtml"></span>
      </div>

      <div style="background: #e8f0ff;" *ngIf="kanji.mnemonics[0] !== undefined">
        <ion-item lines="none" color="transparent">
          <ion-icon name="flask" size="small" color="primary"></ion-icon>
          <ion-label>Mnemonics</ion-label>
        </ion-item>
          <span *ngFor="let mnemonic of kanji.mnemonics">
            <span *ngIf="mnemonic.length > 1" [innerHTML]="mnemonic | sanitizeHtml"></span>
            <a *ngIf="mnemonic.length == 1" routerLink="/details/{{mnemonic}}">{{mnemonic}}</a>
          </span>
      </div>

      <div style="background: #e1fdff;" *ngIf="kanji.simplified">
        <ion-item lines="none" color="transparent">
          <ion-icon name="cut" size="small" color="secondary"></ion-icon>
          <ion-label>Simplified</ion-label>
        </ion-item>
        <p>{{kanji.simplified}}</p>
      </div>

      <div style="background: #eee8ff;" *ngIf="kanji.alike[1] !== undefined">
        <ion-item lines="none" color="transparent">
          <ion-icon name="swap" size="small" color="tertiary"></ion-icon>
          <ion-label>Alike</ion-label>
        </ion-item>
        <span *ngFor="let alike of kanji.alike">
          <span *ngIf="alike.length > 1" [innerHTML]="alike | sanitizeHtml"></span>
          <a *ngIf="alike.length == 1" routerLink="/details/{{alike}}">{{alike}}</a>
        </span>
      </div>

      <div style="background: #eafff3;" *ngIf="kanji.reference[1] !== undefined">
        <ion-item lines="none" color="transparent">
          <ion-icon name="book" size="small" color="success"></ion-icon>
          <ion-label>Reference</ion-label>
        </ion-item>
        <span *ngFor="let reference of kanji.reference">
          <span *ngIf="reference.length > 1" [innerHTML]="reference | sanitizeHtml"></span>
          <a *ngIf="reference.length == 1" routerLink="/details/{{reference}}">{{reference}}</a>
        </span>
      </div>

    </ion-card-content>
  </ion-card>

</ion-content>

<ion-content *ngIf="!kanjis['init'] && noresult">
  <ion-card color="warning">
    <ion-card-content>
      This Kanji has no mnemonic.<br />
      Look up <span class="kanji">{{id}}</span> with <a href="https://en.wiktionary.org/wiki/{{id}}">wiktionary</a>.
    </ion-card-content>
  </ion-card>
</ion-content>