<ion-header>

  <ion-toolbar>
    <ion-searchbar [formControl]="findControl" placeholder="Meaning" size="small"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/about">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="light" (ionChange)="segmentChanged($event)">
    <ion-segment>
      <ion-segment-button checked="true">
        <ion-label>Meaning</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label>ON read</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label>KUN read</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label>Kanji</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label>Radicals</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>

  <cdk-virtual-scroll-viewport cdkDropList style="height: 100%" itemSize="20" class="example-viewport" minBufferPx="1200" maxBufferPx="1200">

    <div *ngIf="findControl.value && findControl.value.length > 0">
        <ion-item *cdkVirtualFor="let kanji of kanjis" routerLink="/details/{{kanji.ucs}}">
        <ion-label text-wrap>
          {{kanji.ucs}}
          {{kanji.label}}
        </ion-label>
      </ion-item>
    </div>

    <ion-item *ngIf="noresult && findControl.value && findControl.value.length > 0" color="warning">
      No result
    </ion-item>

    <ion-item *ngIf="error" color="danger">
      Communication error with the server, please try again.
    </ion-item>

  </cdk-virtual-scroll-viewport>

</ion-content>