<ion-header>
  <ion-toolbar>
    <ion-title>Kanji Mnemonics</ion-title>
    <a routerLink="/about" slot="end"><ion-icon name="information-circle-outline" size="large"></ion-icon></a>
  </ion-toolbar>
</ion-header>

<ion-content>

  <cdk-virtual-scroll-viewport cdkDropList style="height: 100%" itemSize="20" class="example-viewport" minBufferPx="1200" maxBufferPx="1200">

    <ion-searchbar [formControl]="findControl" placeholder="Meaning"></ion-searchbar>

    <div *ngIf="findControl.value && findControl.value.length > 2">
      <ion-item *cdkVirtualFor="let p of kanjis" routerLink="/details/{{p.id}}">
        <ion-label text-wrap>
          {{p.hanzi}}
          {{p.meaning}}
        </ion-label>
      </ion-item>
    </div>

    <ion-item *ngIf="empty && findControl.value && findControl.value.length > 2">
      No result
    </ion-item>

  </cdk-virtual-scroll-viewport>

</ion-content>