<div *ngIf="kanji" class="kanjis">
  <h2>{{kanji.hanzi | uppercase}} Details</h2>
  <div><span>simplified: </span>{{kanji.simplified}}</div>
  <div><span>mnemonics: </span>{{kanji.mnemonics}}</div>
  <div><span>alike: </span>{{kanji.alike}}</div>
  <div><span>mine: </span>{{kanji.mine}}</div>
  <div><span>meaning: </span>{{kanji.meaning}}</div>
  <div><span>reference: </span>{{kanji.reference}}</div>
  <div><span>remnant: </span>{{kanji.remnant}}</div>

  <!--
  <div>
    <button routerLink="/kanji-edit/{{kanji._id}}">
      Edit
    </button>
  </div>
  -->
</div>