<div *ngIf="kanji" class="kanjis">
  <h2>{{kanji.result.chmn.hanzi | uppercase}} Details</h2>
  <div><span>meaning: </span>{{kanji.result.chmn.meaning}}</div>
  <div><span>mnemonics: </span><span [innerHTML]="mnemonics | sanitizeHtml"></span></div>
  <div><span>simplified: </span>{{kanji.result.chmn.simplified}}</div>
  <div><span>alike: </span>{{kanji.result.chmn.alike}}</div>
  <div><span>mine: </span>{{kanji.result.chmn.mine}}</div>
  <div><span>reference: </span>{{kanji.result.chmn.reference}}</div>
  <div><span>remnant: </span>{{kanji.result.chmn.remnant}}</div>
  
  <!--
  <div>
    <button routerLink="/kanji-edit/{{kanji._id}}">
      Edit
    </button>
  </div>
  -->
</div>