<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <cdk-virtual-scroll-viewport cdkDropList style="height: 100%" itemSize="20" class="example-viewport" (cdkDropListDropped)="drop($event)"  minBufferPx="1200" maxBufferPx="1200">
    <ion-item *cdkVirtualFor="let p of kanjis" class="example-item" href="/details/{{p.id}}">
      <ion-icon name="desktop" slot="start"></ion-icon>
      {{p.hanzi}}
      <div class="item-note" slot="end">
        {{p.meaning}}
      </div>
    </ion-item>
  </cdk-virtual-scroll-viewport>

</ion-content>