<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{kanji.hanzi}}</ion-card-title>
    </ion-card-header>

    <ion-card-content><ion-item>
      <p>meaning:</p>
      <p>{{kanji.meaning}}</p>
    </ion-item><ion-item>
      <p>mnemonics:</p>
      <p>{{kanji.mnemonics}}</p>
    </ion-item><ion-item>
      <p>simplified:</p>
      <p>{{kanji.simplified}}</p>
    </ion-item><ion-item>
      <p>alike:</p>
      <p>{{kanji.alike}}</p>
    </ion-item><ion-item>
      <p>reference:</p>
      <p>{{kanji.reference}}</p>
    </ion-item><ion-item>
      <p>mine:</p>
      <p>{{kanji.mine}}</p>
    </ion-item><ion-item>
      <p>remnant:</p>
      <p>{{kanji.remnant}}</p>
    </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>