<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <p class="kanji">
        {{kanji.hanzi}}
        {{kanji.meaning}}
      </p>

      <ion-item lines="none">
        <ion-icon name="flask" size="small" color="primary" slot="start"></ion-icon>
        <ion-label>Mnemonics</ion-label>
      </ion-item>
      <p [innerHTML]="kanji.mnemonics | sanitizeHtml"></p>
      <ion-item lines="none" *ngIf="kanji.simplified">
        <ion-icon name="cut" size="small" color="secondary" slot="start"></ion-icon>
        <ion-label>Simplified</ion-label>
      </ion-item>
      <p>{{kanji.simplified}}</p>
      <ion-item lines="none" *ngIf="kanji.alike">
        <ion-icon name="swap" size="small" color="tertiary" slot="start"></ion-icon>
        <ion-label>Alike</ion-label>
      </ion-item>
      <p>{{kanji.alike}}</p>
      <ion-item lines="none" *ngIf="kanji.reference">
        <ion-icon name="book" size="small" color="success" slot="start"></ion-icon>
        <ion-label>Reference</ion-label>
      </ion-item>
      <p>{{kanji.reference}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>