<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{kanji.result.chmn.hanzi}}</ion-card-title>
    </ion-card-header>

    <ion-card-content><ion-item>
      <p>meaning:</p>
      <p>{{kanji.result.chmn.meaning}}</p>
    </ion-item><ion-item>
      <p>mnemonics:</p>
      <p>{{kanji.result.chmn.mnemonics}}</p>
    </ion-item><ion-item>
      <p>simplified:</p>
      <p>{{kanji.result.chmn.simplified}}</p>
    </ion-item><ion-item>
      <p>alike:</p>
      <p>{{kanji.result.chmn.alike}}</p>
    </ion-item><ion-item>
      <p>reference:</p>
      <p>{{kanji.result.chmn.reference}}</p>
    </ion-item><ion-item>
      <p>mine:</p>
      <p>{{kanji.result.chmn.mine}}</p>
    </ion-item><ion-item>
      <p>remnant:</p>
      <p>{{kanji.result.chmn.remnant}}</p>
    </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>